body {
  background-color: #ffffff;
  line-height: 1;
}
html {
  font-size: 62.5% !important;
  letter-spacing: 0;
}
a {
  color: black;
  list-style-type: none;
  text-decoration: none;
}

img {
  vertical-align: top;
  width: 100%;
}
