@use "./../base/mediaquery" as md;
.access {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    margin-bottom: 60px;
  }
  &__info {
    margin-bottom: 69px;
  }
  &__map {
    width: 100%;
  }
}
